section.first-section
        .info-sidebar
            ul.social-block
                li
                    a(href='#').fa.fa-facebook
                li
                    a(href='#').fa.fa-instagram
                li
                    a(href='#').fa.fa-twitter
                li
                    a(href='#').fa.fa-behance
                li
                    a(href='#').fa.fa-dribbble
                li
                    a(href='#').fa.fa-pinterest-p
            .phone
                .phone-wrapper
                    span.fa.fa-volume-control-phone call: +380500000000
            .email
                span.fa.fa-envelope emailinland@mail.com
        .first-screen-right-block
            header.header-wrapper
                    .header-logo
                        img(src='img/logo.png')
                    .menu-block
                        nav.header-menu
                            ul
                                li
                                    a(href='#') Home
                                li
                                    a(href='#') About us
                                    ul
                                        li
                                            a(href="#") About us 1
                                        li
                                            a(href="#") About us 2
                                li
                                    a(href='#') portfolio
                                    ul
                                        li
                                            a(href="#") portfolio 1
                                        li
                                            a(href="#") portfolio 2
                                li
                                    a(href='#') services
                                    ul
                                        li
                                            a(href="#") services 1
                                        li
                                            a(href="#") services 2
                                li
                                    a(href='#') blog
                                    ul
                                        li
                                            a(href="#") blog 1
                                        li
                                            a(href="#") blog 2
                                li
                                    a(href='#') pages
                                    ul
                                        li
                                            a(href="#") pages 1
                                        li
                                            a(href="#") pages 2
                                li
                                    a(href='#') contact us
                                    ul
                                        li
                                            a(href="#") contact us 1
                                        li
                                            a(href="#") contact us 2
                        .service-block
                            .header-search-button.fa.fa-search
                            .cart.fa.fa-shopping-cart
                                span 04
                            .authorization-block
                                span.fa.fa-sign-in Login
                                span /
                                span Register
            .first-screen-slider
