section.first-section
        .info-sidebar
            ul.social-block
                li
                    a(href='#').fa.fa-facebook
                li
                    a(href='#').fa.fa-instagram
                li
                    a(href='#').fa.fa-twitter
                li
                    a(href='#').fa.fa-behance
                li
                    a(href='#').fa.fa-dribbble
                li
                    a(href='#').fa.fa-pinterest-p
            .phone
                span.fa.fa-volume-control-phone
                span +380500000000
            .email
                span.fa.fa-envelope emailinland@mail.com
        .first-screen-right-block
            header.header-wrapper
                    .header-logo
                        img(src='img/logo.png')
                    nav.header-menu
                        ul
                            li
                                a(href='#') Home
                            li
                                a(href='#') About us
                            li
                                a(href='#') portfolio
                            li
                                a(href='#') services
                            li
                                a(href='#') blog
                            li
                                a(href='#') pages
                            li
                                a(href='#') contact us
                    .service-block
                        .header-serch-button
                        .cart
                        .authorization-block
                            .login
            .first-screen-slider
