.first-section
  display: flex
  height: 90vh
  width: 100%
  .info-sidebar
    height: 100%
    width: 60px
    background-color: $bgColorGrey
    .social-block

    .phone

      color: rgba(198, 164, 126, 1)
      span:first-child
      span:last-child
        color: rgba(240, 240, 240, 1)
        transform: rotate(180deg)
        writing-mode: vertical-lr
    .email
  .first-screen-right-block
    background-color: $bgColorBlack
    width: 100%
    .header-wrapper
      display: flex
      width: 100%
